.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn {
  padding: 4px;
  color: #fff;
  background-color: #1d4ed8;
  height: 2.8em;
  width: 8em;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3b82f6;
}

.input {
  height: 1.8em;
  width: 20em;
}
